.card {
  margin: 2vh;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.cardSobremesa_01 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: solid black 2px;
  margin-top: 0.5vh;
  padding: 1.5vh 2vh;
  border-radius: 3vh;
  width: 75%;
  height: 30vh;
  min-height: 25vh;
  background-image: url(../img/sobremesa-banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: cornsilk;
}

.cardSobremesa_01 a {
  color: cornsilk;
  text-decoration: none;
  background-color: transparent;
}

.cardSobremesa_01 a h2 {
  width: fit-content;
  height: fit-content;
  background-color: black;
  border-radius: 5vh;
  font-size: 100%;
  padding: 0vh 1vh;
}

.cardSobremesa_02 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: solid black 2px;
  margin-top: 0.5vh;
  padding: 1.5vh 2vh;
  border-radius: 3vh;
  width: 75%;
  height: 30vh;
  min-height: 25vh;
  background-image: url(../img/Sobremesa_02.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: cornsilk;
}

.cardSobremesa_02 a {
  color: cornsilk;
  text-decoration: none;
  background-color: transparent;
}

.cardSobremesa_02 a h2 {
  width: fit-content;
  height: fit-content;
  background-color: black;
  border-radius: 5vh;
  font-size: 100%;
  padding: 0vh 1vh;
}

.cardSobremesa_03 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: solid black 2px;
  margin-top: 0.5vh;
  padding: 1.5vh 2vh;
  border-radius: 3vh;
  width: 75%;
  height: 30vh;
  min-height: 25vh;
  background-image: url(../img/Sobremesa_03.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: cornsilk;
}

.cardSobremesa_03 a {
  color: cornsilk;
  text-decoration: none;
  background-color: transparent;
}

.cardSobremesa_03 a h2 {
  width: fit-content;
  height: fit-content;
  background-color: black;
  border-radius: 5vh;
  font-size: 100%;
  padding: 0vh 1vh;
}

.cardSalada_01 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: solid black 2px;
  margin-top: 0.5vh;
  padding: 1.5vh 2vh;
  border-radius: 3vh;
  width: 75%;
  height: 30vh;
  min-height: 25vh;
  background-image: url(../img/salada-banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: cornsilk;
}

.cardSalada_01 a {
  color: cornsilk;
  text-decoration: none;
  background-color: transparent;
}

.cardSalada_01 a h2 {
  width: fit-content;
  height: fit-content;
  background-color: black;
  border-radius: 5vh;
  font-size: 100%;
  padding: 0vh 1vh;
}

.cardSalada_02 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: solid black 2px;
  margin-top: 0.5vh;
  padding: 1.5vh 2vh;
  border-radius: 3vh;
  width: 75%;
  height: 30vh;
  min-height: 25vh;
  background-image: url(../img/Salada_02.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: cornsilk;
}

.cardSalada_02 a {
  color: cornsilk;
  text-decoration: none;
  background-color: transparent;
}

.cardSalada_02 a h2 {
  width: fit-content;
  height: fit-content;
  background-color: black;
  border-radius: 5vh;
  font-size: 100%;
  padding: 0vh 1vh;
}

.cardSalada_03 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: solid black 2px;
  margin-top: 0.5vh;
  padding: 1.5vh 2vh;
  border-radius: 3vh;
  width: 75%;
  height: 30vh;
  min-height: 25vh;
  background-image: url(../img/Salada_03.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: cornsilk;
}

.cardSalada_03 a {
  color: cornsilk;
  text-decoration: none;
  background-color: transparent;
}

.cardSalada_03 a h2 {
  width: fit-content;
  height: fit-content;
  background-color: black;
  border-radius: 5vh;
  font-size: 100%;
  padding: 0vh 1vh;
}

.cardMassa_01 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: solid black 2px;
  margin-top: 0.5vh;
  padding: 1.5vh 2vh;
  border-radius: 3vh;
  width: 75%;
  height: 30vh;
  min-height: 25vh;
  background-image: url(../img/massa-banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: cornsilk;
}

.cardMassa_01 a {
  color: cornsilk;
  text-decoration: none;
  background-color: transparent;
}

.cardMassa_01 a h2 {
  width: fit-content;
  height: fit-content;
  background-color: black;
  border-radius: 5vh;
  font-size: 100%;
  padding: 0vh 1vh;
}

.cardMassa_02 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: solid black 2px;
  margin-top: 0.5vh;
  padding: 1.5vh 2vh;
  border-radius: 3vh;
  width: 75%;
  height: 30vh;
  min-height: 25vh;
  background-image: url(../img/Massa_02.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: cornsilk;
}

.cardMassa_02 a {
  color: cornsilk;
  text-decoration: none;
  background-color: transparent;
}

.cardMassa_02 a h2 {
  width: fit-content;
  height: fit-content;
  background-color: black;
  border-radius: 5vh;
  font-size: 100%;
  padding: 0vh 1vh;
}

.cardMassa_03 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: solid black 2px;
  margin-top: 0.5vh;
  padding: 1.5vh 2vh;
  border-radius: 3vh;
  width: 75%;
  height: 30vh;
  min-height: 25vh;
  background-image: url(../img/Massa_03.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: cornsilk;
}

.cardMassa_03 a {
  color: cornsilk;
  text-decoration: none;
  background-color: transparent;
}

.cardMassa_03 a h2 {
  width: fit-content;
  height: fit-content;
  background-color: black;
  border-radius: 5vh;
  font-size: 100%;
  padding: 0vh 1vh;
}
